nav {
    background-color: #222; 
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    gap: 2.2rem;
    border-bottom: 2px solid #2e2e41;
}

nav a {
    color: #e6e6e6;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    color: #00d084;
}
