html, body {
    height: 100%;
    margin: 0;
}

#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    width: 100%;
    padding: 1.5rem 0;
    background-color: #222;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.parrafoFooter{
    color: white;
}

